In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df=pd.read_csv('water_potability.csv')
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [5]:
df.columns

Index(['ph', 'Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability'],
      dtype='object')

In [20]:
df.shape

(3276, 10)

In [6]:
# ph is our target variable 

df['ph'].value_counts()

ph
3.716080    1
6.704432    1
5.915807    1
8.136498    1
6.493764    1
           ..
7.808012    1
5.895949    1
7.269652    1
9.489601    1
7.874671    1
Name: count, Length: 2785, dtype: int64

In [7]:
len(df['ph'].value_counts())

2785

In [11]:
df['ph'].min()

0.0

In [12]:
df['ph'].max()

13.999999999999998

In [13]:
# As we know ph ranges from 0 to 15 only and we have values in that range as well

In [21]:
ph=df['ph']
df.drop(columns=['ph'],inplace=True)



df

,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...
3271,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [22]:
df2=pd.DataFrame(ph,columns=['ph'])
df2

            ph
0          NaN
1     3.716080
2     8.099124
3     8.316766
4     9.092223
...        ...
3271  4.668102
3272  7.808856
3273  9.419510
3274  5.126763
3275  7.874671

[3276 rows x 1 columns]

In [24]:
df=pd.concat([df,df2],axis=1)

df

,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability,ph
0,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0,NaN
1,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0,3.716080
2,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0,8.099124
3,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0,8.316766
4,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0,9.092223
...,...,...,...,...,...,...,...,...,...,...
3271,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1,4.668102
3272,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1,7.808856
3273,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1,9.419510
3274,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1,5.126763
3275,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1,7.874671

### Data Preprocessing

In [26]:
df.isnull().sum()

Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
ph                 491
dtype: int64

#### Observation: 
We have mostly null values in Sulfate and Trihalomethanes if anywhere our accuracy is affected then we remove these features as first priority.

In [29]:
df.fillna(df.mean(),inplace=True)

In [30]:
df.isnull().sum()

Hardness           0
Solids             0
Chloramines        0
Sulfate            0
Conductivity       0
Organic_carbon     0
Trihalomethanes    0
Turbidity          0
Potability         0
ph                 0
dtype: int64

In [31]:
# Applying regression models and storing corresponding mse and choose min mse 

# Data splitting 
from sklearn.model_selection import train_test_split

X=df.drop(columns=['ph'])
y=df['ph']

X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.25)

In [32]:

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error

In [33]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [34]:
models = {
    'Linear Regression': LinearRegression(),
    'Ridge Regression': Ridge(),
    'Lasso Regression': Lasso(),
    'ElasticNet': ElasticNet(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forest': RandomForestRegressor(),
    'Support Vector Regressor': SVR(),
    'Gradient Boosting Regressor': GradientBoostingRegressor()
}

In [35]:
mse_scores = {}

for name, model in models.items():
    # Train the model
    model.fit(X_train_scaled, y_train)
    
    # Make predictions on the test set
    y_pred = model.predict(X_test_scaled)
    
    # Calculate the MSE
    mse = mean_squared_error(y_test, y_pred)
    
    # Store the MSE score
    mse_scores[name] = mse


for model_name, mse in mse_scores.items():
    print(f'{model_name}: MSE = {mse}')

Linear Regression: MSE = 2.203671840046397
Ridge Regression: MSE = 2.2036522987950153
Lasso Regression: MSE = 2.2026044353858496
ElasticNet: MSE = 2.2026044353858496
Decision Tree: MSE = 4.5333678991048885
Random Forest: MSE = 2.1196308024209314
Support Vector Regressor: MSE = 2.0793809380645185
Gradient Boosting Regressor: MSE = 2.1969032714558305

In [36]:
# We get SVR with minimum mean squared error

# Apply this model to predict ph values

In [37]:
X_train.shape

(2457, 9)

In [38]:
X_train.columns

Index(['Hardness', 'Solids', 'Chloramines', 'Sulfate', 'Conductivity',
       'Organic_carbon', 'Trihalomethanes', 'Turbidity', 'Potability'],
      dtype='object')